title = "Articles"
url = "/articles"
layout = "default"
is_hidden = 0

[blogPosts articlePosts]
pageNumber = "{{ :page }}"
categoryFilter = "articles"
postsPerPage = 50
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "article-category"
postPage = "article-post"

[session]
security = "user"
redirect = "index"
==
<div class="container" id="at-container">
     <div class="col-md-12" id="at-col-md-12">
        <div class="jumbotron" id="at-jumbotron">
            <div class="container" id="at-container-inner">
                <h1>Articles</h1>
            </div>   
        </div>   
    <div class="col-md-12">
        <div class="row" id="at-row">
            <div id="flex-container">
            {% for post in posts %}
                <div id="at-post">
                {% for image in post.featured_images %}
                    <img class="img-responsive" src="{{ image.path }}" />
                {% endfor %}
                      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                      <p>{{ post.summary }}</p>
                      <p id="at-paraBtn"><a class="btn btn-danger" href="{{ post.url }}" role="button">Read More »</a></p>
                </div>
            {% endfor %}
            </div>  
        </div>    
    </div>
</div>