/* LANDING PAGE */

#promo-1 {
    background-image: url('/themes/5asidecountydesigns/assets/images/stadium.jpg');
    background-attachment: fixed;
    color: white;
}

#promo-3 {
   background-image: url('/themes/5asidecountydesigns/assets/images/16533.jpg');
}


/* Smaller devices(MOBILE VERSION) (Screen sizes, less than 768px) */
@media screen and (max-width: 479px)
{
   
    
 #promo-1 {
        background-image: url('/themes/5asidecountydesigns/assets/images/stadium.jpg');
        background-position: -9em;
    }
    
}