  /*--------------------
    |                     |
    |     SKILLS PAGE     |
    |                     |
     ---------------------*/
    

#sk-jumbotron {
    padding: 0px;
    color: #16a085;
    background-color: #D4D4F0;
}

#sk-well {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #E6DBDB;
}
#sk-panel-title a {
    padding: 0px;
}
.panel-title img {
    height: 61px;
    padding: 4px;
}

#sk-panel-title a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/brazil.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 100% 0%;
    -webkit-background-position: 100% 0%;
    
}
#sk-panel-title2 a {
    padding: 0px;
    background-image: url('/themes/5asidecountydesigns/assets/images/brazil.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 26%;
    -webkit-background-position: 100% 26%;
}

#sk-panel-title3 a {
    padding: 0px;
}

#sk-panel-title3 a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/brazil.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 52%;
    -webkit-background-position: 100% 52%;
    
}
#sk-panel-title4 a {
    padding: 0px;
}

#sk-panel-title4 a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/brazil.jpg'); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 78%;
    -webkit-background-position: 100% 78%;
    
}
#sk-panel-title5 a {
    padding: 0px;
}

#sk-panel-title5 a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/brazil.jpg'); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    -webkit-background-position: 100% 100%;
    
}

.panel-group .panel + .panel {
    margin-top: 3px;
}

.panel-group {
    margin-bottom: 5px;
}

/* Smaller devices(MOBILE VERSION) (Screen sizes, less than 768px) */
@media screen and (max-width: 479px)
{
    #sk-panel-title a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/stadium1.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 52%;
    -webkit-background-position: 100% 52%;
    
}
     #sk-panel-title2 a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/stadium.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 53%;
    -webkit-background-position: 100% 52%;
}
    #sk-panel-title3 a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/united.JPG'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 45%;
    -webkit-background-position: 100% 52%;
}
    #sk-panel-title4 a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/allianz.jpg'); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 78%;
    -webkit-background-position: 100% 78%;
}
    #sk-panel-title5 a {     
    background-image: url('/themes/5asidecountydesigns/assets/images/brazil.jpg'); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    -webkit-background-position: 100% 100%;
    
}
    
}

/* Medium devices(TABLET VERSION) (Screen sizes, less than 768px) */
@media screen and (min-width: 480px) and (max-width: 767px)
{
    
    
}

/* Larger devices... */
@media screen and (min-width: 768px)
{
    .col5-first
    {
        margin-left: 45px;   
    }    
}