  /*-------------------- 
    |                     |
    |    TACTICS PAGE     |
    |                     |
     --------------------*/


.tc-col-md-12 {
    padding: 0;
}

.tc-jumbotron {
    padding: 0px;
    color: #16a085;
    background-color: #D4D4F0;
}
.tc-row {
    margin-right: 45px;
    margin-left: 45px;
}
.tc-well img {
    height: 335px;
    float: left;
}
.tc-well {
    float: left;
}
.tc-well-1 {
    width: 156px;
    margin-top: 50px;
    float: left;
    margin-left: 15px;
}


/* Smaller devices(MOBILE VERSION) (Screen sizes, less than 768px) */
@media screen and (max-width: 479px)
{
   

    .tc-well img {
        width: 100%;
        height: 100%;
    }
 
}


/* Medium devices(TABLET VERSION) (Screen sizes, less than 768px) */
@media screen and (min-width: 480px) and (max-width: 767px)
{

    /* .tc-well {
        width: 121%;
    } */
}

/* Very large screens */
@media screen and (min-width: 1068px)
{
    .tc-col-md-12
    {
            margin-left: 200px;    
    }
}
