description = "first custom layout"
==
<!DOCTYPE html> 
<html lang="en" style="height:100%;">
    <head> 
        <meta charset="utf-8"> 
        <title>5-A-Side County - {{ this.page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="pinegrow, blocks, bootstrap" />
        <meta name="description" content="My new website" />
        <link rel="shortcut icon" href="ico/favicon.png"> 
        <!-- Core CSS -->
        <link href="themes/5asidecountydesigns/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="themes/5asidecountydesigns/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->         
        <link href="themes/5asidecountydesigns/assets/css/style-library-1.css" rel="stylesheet">
        <link href="themes/5asidecountydesigns/assets/css/plugins.css" rel="stylesheet">
        <link href="themes/5asidecountydesigns/assets/css/blocks.css" rel="stylesheet">
        <link href="themes/5asidecountydesigns/assets/css/custom.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->        
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    </head>     
    <body data-spy="scroll" data-target="nav" class="">
        <header id="header-1" class="header-1">
            <!-- Navbar -->
            <nav class="main-nav navbar-fixed-top headroom headroom--pinned bg-milanored">
                <div class="container">
                    <!-- Brand and toggle -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="sitelogo" class="navbar-brand clouds silver-hover" href="#">FC County 5-A-Side</a>
                    </div>
                    <!-- Navigation -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="{% if this.page.id == 'index' %}active{% endif %}"><a href="{{ 'index'|page }}">Home</a></li>
                            <li class="{% if this.page.id == 'profile' %}active{% endif %}"><a href="{{ 'profile'|page }}">Profile</a></li>
                            <!-- dropdown button -->
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learn<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Articles</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ 'skills'|page }}">Skills</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ 'tactics'|page }}">Tactics</a></li>
                             </ul>
                            </li>
                            <li class="{% if this.page.id == 'news' %}active{% endif %}"><a href="{{ 'news'|page }}">News</a></li>  
                        </ul>
                        <!--//nav-->
                    </div>
                    <!--// End Navigation -->
                </div>
                <!--// End Container -->
            </nav>
            <!--// End Navbar -->
        </header>
        
        <!-- Main content -->
        <div id="layout-content">
            {% page %}
        </div>
        
        <!-- Begin footer -->
        <div class="copyright-bar bg-milanored">
            <div class="container">
                <p class="pull-left small">© GDP - Shirin Bachoo's Cool Crew</p>
                <p class="pull-right small"> Challenge the Quiz Masters</p>
            </div>
        </div>
        <!-- end footer -->
        
        <!-- Scripts -->
        {% framework extras %}
        <script type="text/javascript" src="themes/5asidecountydesigns/assets/js/jquery-1.11.1.min.js"></script>         
        <script type="text/javascript" src="themes/5asidecountydesigns/assets/js/bootstrap.min.js"></script>         
        <script type="text/javascript" src="themes/5asidecountydesigns/assets/js/plugins.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="themes/5asidecountydesigns/assets/js/bskit-scripts.js"></script>
        <script type="text/javascript" src="themes/5asidecountydesigns/assets/bootstrap/js/npm.js"></script>
    </body>     
</html>